.custom_bg{
	background-color: #8da1c1;
	padding: 10px 0;
	margin-bottom: 10px;
}
.bgc{
	background-color: #C3C3C3;
	min-height: 50px;
	margin-bottom: 10px;
}
.red{
	background-color: red;
}